body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fff;
  margin: 0px;
}
h1 {
  color: #000000;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 50px 0px;
  text-shadow: 
    1px 0px 1px #ddd, 0px 1px 1px #f0f0f0, 
    2px 1px 1px #ddd, 1px 2px 1px #f0f0f0,
    3px 2px 1px #ddd, 2px 3px 1px #f0f0f0,
    4px 3px 1px #ddd, 3px 4px 1px #f0f0f0,
    5px 4px 1px #ddd, 4px 5px 1px #f0f0f0,
    6px 5px 1px #ddd, 5px 6px 1px #f0f0f0,
    7px 6px 1px #ddd;
}
h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.wrapper {
  max-width: 1024px;
  margin: 0px auto;
}

header {
  background-color: #eee;
}

#menu {

}
#menu > ul {
  display: flex;
  justify-content: flex-start;
  padding: 0px;
}
#menu > ul > a {
  color: #222222;
  text-decoration: none;
}
#menu > ul > a > li {
  padding: 15px 30px;
  list-style-type: none;
}
#menu > ul > a:not(:last-child) > li {
  border-right: 1px solid #ddd;
}
#menu > ul > a:hover > li {
  background-color: rgba(0, 0, 0, 0.025);
}
#content {

}




.bookmark-form {
  margin: 50px 0px 25px 0px;
}
.bookmark-form .form-group {
  display: flex;
}
.bookmark-form .form-group > label {
  min-width: 125px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 300;
}
.bookmark-form .form-control {
  padding: 10px 20px;
  border-radius: 1px;
  background-color: #eee;
}
.bookmark-form .form-control:focus {
  box-shadow: 0px 0px 0px 2px #2196f3;
}
.bookmark-form .form-group textarea {
  height: 100px !important;
}
.bookmark-form button {
  color: #fff;
  padding: 10px 20px;
}
.bookmark-form button.save {
  margin-left: 125px;
  font-weight: 500;
  background-color: #2196f3;
}
.bookmark-form button.reset {
  font-weight: 400;
  background-color: #555;
  margin-left: 10px;
}


#main {
  display: flex;
}
#main .bookmark-list-holder {
  min-width: 40%;
}
#main .bookmark-form-holder {
  min-width: 60%;
}

#main .bookmark-list > li {
  font-size: 20px;
  letter-spacing: 0.5px;
}
