{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Djorg{% endblock %}</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
</head>
<body>
  
  <div id="menu">
    {% block menu %}
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/bookmarks">Bookmarks</a></li>
    </ul>
    {% endblock %}
  </div>

  <div id="content">
    {% block content %}
    <h1>Welcome to Djorg!</h1>
    {% endblock %}
  </div>

</body>
</html>
