
body {
  min-width: 1100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #fff;
  margin: 0px;
}
h1 {
  color: #fff;
  font-size: 60px;
  font-family: 'Prosto One', cursive;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 35px 0px;
  margin: 0px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
h2 {
  font-size: 28px;
  font-family: 'Prosto One', cursive;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: underline;
  margin-bottom: 30px;
  transform: scaleY(1.25);
}
h3 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

.wrapper {
  max-width: 1024px;
  margin: 0px auto;
}

header {
  position: relative;
  background-color: #3f51b5;
}
header > .wrapper {
  position: relative;
}
header > .header-gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f51b5+0,3f51b5+50,e8004d+100,e8004d+100 */
  background: rgb(63,81,181); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(63,81,181,1) 0%, rgba(63,81,181,1) 50%, rgba(232,0,77,1) 100%, rgba(232,0,77,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(63,81,181,1) 0%,rgba(63,81,181,1) 50%,rgba(232,0,77,1) 100%,rgba(232,0,77,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(63,81,181,1) 0%,rgba(63,81,181,1) 50%,rgba(232,0,77,1) 100%,rgba(232,0,77,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#e8004d',GradientType=1 ); /* IE6-9 */
  opacity: 0.35;
}

#welcome-message {
  color: #9c37ad;
  font-size: 36px;
  font-family: 'Prosto One', cursive;
  font-weight: 700;
  letter-spacing: 0px;
  margin-bottom: 30px;
}

#menu {
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
}
#menu ul {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
}
#menu ul > a {
  color: #fff;
  text-decoration: none;
}
#menu ul > a > li,
#menu ul > form > button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.75px;
  border: 0px;
  padding: 15px 30px;
  list-style-type: none;
}
#menu ul > a:first-child > li,
#menu ul > form:first-child > button {
  padding-left: 0px;
}
#menu ul > a:not(:last-child) > li,
#menu ul > form:not(:last-child) > button {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
#menu ul > a:hover > li,
#menu ul > form:hover > button {
  background-color: rgba(0, 0, 0, 0.025);
}

#content {
padding: 50px 0px;
}





.bookmark-form {
  margin: 50px 0px 25px 0px;
}
.bookmark-form .form-group {
  display: flex;
}
.bookmark-form .form-group > label {
  min-width: 125px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}
.bookmark-form .form-control {
  padding: 10px 20px;
  border-radius: 1px;
  background-color: #eee;
}
.bookmark-form .form-control:focus {
  box-shadow: 0px 0px 0px 2px #2196f3;
}
.bookmark-form .form-group textarea {
  height: 100px !important;
}
.bookmark-form button {
  color: #fff;
  padding: 10px 20px;
}
.bookmark-form button.save {
  margin-left: 125px;
  font-weight: 500;
  background-color: #2196f3;
}
.bookmark-form button.reset {
  font-weight: 400;
  background-color: #555;
  margin-left: 10px;
}


#main {
  display: flex;
  justify-content: space-between;
}
#main .bookmark-list-holder {
  min-width: 35%;
}
#main .bookmark-form-holder {
  min-width: 55%;
}

#main .bookmark-list {
  padding: 0px;
}
#main .bookmark-list > a {
  text-decoration: none;
}
#main .bookmark-list > a > li {
  font-size: 20px;
  letter-spacing: 0.5px;
  list-style-type: none;
  padding: 15px 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px 0px #ddd;
  background-color: #eee;
}
#main .bookmark-list > a:hover > li {
  box-shadow: 0px 2px 1px 0px #fff;
  background-color: #fff;
}



#main .note-list-holder {
  min-width: 35%;
}
#main .note-form-holder {
  min-width: 55%;
}

#main ol.note-list {
  padding: 0px;
  list-style-type: none;
}
#main ol.note-list > li {
  list-style-type: none;
  padding: 15px 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px 0px #ddd;
  background-color: #eee;
}
#main ol.note-list > li:hover {
  box-shadow: 0px 2px 1px 0px #fff;
  background-color: #fff;
}
#main ol.note-list > li > p.note-title {
  color: #1565c0;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}
#main ol.note-list > li > p.note-content {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.25px;
}


#main .files-list-holder {
  min-width: 35%;
}
#main .files-form-holder {
  min-width: 55%;
}

#main ol.files-list {
  padding: 0px;
  list-style-type: none;
}
#main ol.files-list > a > li {
  position: relative;
  list-style-type: none;
  padding: 15px 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px 0px #ddd;
  background-color: #eee;
}
#main ol.files-list > a > li:hover {
  box-shadow: 0px 2px 1px 0px #fff;
  background-color: #fff;
}
#main ol.files-list > a > li > p.file-name {
  color: #1565c0;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 10px;
  margin-bottom: 0px;
}
#main ol.files-list > a > li > img {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
}
